<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="proyecto_negocio.My.MySettings.BaseDatosNegocioConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\pc\Desktop\OneDrive\basedatos\database\BaseDatosNegocio.accdb;Persist Security Info=True;Jet OLEDB:Database Password=45970211ab"
            providerName="System.Data.OleDb" />
        <add name="proyecto_negocio.My.MySettings.oasisdbConnection"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\pc\Desktop\OneDrive\basedatos\database\oasisdb.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>